


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background:url('../img/desktop2.jpg') no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding: 0 20px;
    color:white;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.main-wrapper {
    background-color:rgba(0,0,0,.9);
    max-width:625px;
    margin:4% auto;
    box-shadow: 0 0 8px rgba(0,0,0,.4);
    padding:20px;
}

@media (min-width:440px) {
    .main-wrapper {
        padding:60px;
    }
}

h1, h2, a {color:#a2834e;}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size:40px;
    letter-spacing: 0.02em;
    margin:0;
    margin: 0;
    line-height: 1;
}






@media (min-width:440px) {
    h1 {
        font-size: 60px;
    }
}



h1, h2 {
    text-transform: uppercase;
}

h2 {
    font-size: 14px;
    letter-spacing: 3px;
}
.main-container:before {
    content: '';
    width: 80px;
    height: 2px;
    display: block;
    background-color: #c2c2c2;
    margin: 50px auto;
}

.main-container {
    font-size: 14px;
    line-height: 1.7em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #c2c2c2;
    margin-bottom:50px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.social-icons {
    list-style-type:none;
    padding:0;
}
.social {
    display:inline-block;
    width:50%;
    margin-bottom:20px;
}

@media (min-width:352px) {
    .social {
        width:48px;
        margin:10px;
    }
}


