<footer class="site-footer">
    <div class="ss-style-doublediagonal ss-light">
      <div class="container">
        <ul class="social-media-list">
          <li class="social-media__item"><a class="social-media__link" href="mailto:{{ site.email }}" target="_window"><span class="fa fa-envelope-o"></span> Email</a></li>
    <span class="footer-divider">//</span>
          {% if site.github_username %}
          <li class="social-media__item">
            <a class="social-media__link" href="https://github.com/{{ site.github_username }}" target="_window"><span class="fa fa-github"></span> Github</a>
          </li>
          {% endif %}
    <span class="footer-divider">//</span>
          {% if site.twitter_username %}
          <li class="social-media__item">
            <a class="social-media__link" href="https://twitter.com/{{ site.twitter_username }}" target="_window"><span class="fa fa-twitter"></span> Twitter</a>
          </li>
          {% endif %}
    <span class="footer-divider">//</span>
          <li class="social-media__item">
            <a class="social-media__link" href="http://codepen.io/{{ site.codepen_username }}" target="_window"><span class="fa fa-home"></span> Squarespace</a>
          </li>
        </ul>
        <p class="copyright">&COPY; Heather Tovey <span class="footer-divider">//</span> Front-End Web Developer</p>
      </div>
    </div>
</footer>


<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{{ site.baseurl }}/js/site.js"></script>
