<footer class="site-footer">
    <div class="ss-style-doublediagonal ss-light">
      <div class="container">
        <ul class="social-media-list">
          <li class="social-media__item"><a class="social-media__link fa fa-envelope-o" href="mailto:{{ site.email }}"> Email</a></li>
    <span class="footer-divider">//</span>
          {% if site.github_username %}
          <li class="social-media__item">
            <a class="social-media__link fa fa-github" href="https://github.com/{{ site.github_username }}"> Github</a>
          </li>
          {% endif %}
    <span class="footer-divider">//</span>
          {% if site.twitter_username %}
          <li class="social-media__item">
            <a class="fa fa-twitter social-media__link" href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a>
          </li>
          {% endif %}
    <span class="footer-divider">//</span>
          {% if site.codepen_username %}
          <li class="social-media__item">
            <a class="social-media__link fa fa-codepen" href="http://codepen.io/{{ site.codepen_username }}"> Codepen</a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright">&COPY; Heather Tovey <span class="footer-divider">//</span> Front-End Web Developer</p>
      </div>
    </div>
</footer>


<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{{ site.baseurl }}/js/site.js"></script>
