<footer class="site-footer">
    <div class="ss-style-doublediagonal divider page-ss ss-footer">
      <div class="container">
        <ul class="social-media-list">
          <li class="social-media__item"><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o"></i> Email</a></li>
    <span class="footer-divider">//</span>
          {% if site.github_username %}
          <li class="social-media__item">
            <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i> Github</a>
          </li>
          {% endif %}
    <span class="footer-divider">//</span>
          {% if site.twitter_username %}
          <li class="social-media__item">
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i> Twitter</a>
          </li>
          {% endif %}
    <span class="footer-divider">//</span>
          {% if site.codepen_username %}
          <li class="social-media__item">
            <a href="http://codepen.io/{{ site.codepen_username }}"><i class="fa fa-codepen"></i> Codepen</a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright">&COPY; Heather Tovey <span class="footer-divider">//</span> Front-End Web Developer</p>
      </div>
    </div>
</footer>


<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{{ site.baseurl }}/js/site.js"></script>
