<header class="site-header">

  <div class="container container--default">

    <a class="site-title" href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}/img/logo.png" alt="HTovey.com" /> H<span class="small-caps">eather</span> <span class="brand-color-dark">T<span class="small-caps">ovey</span></span></a>

    <nav class="site-nav">
      <a class="page-link" href="{{ site.baseurl }}/#projects">Projects</a>
      <a class="page-link" href="{{ site.baseurl }}/#about">About</a>
    </nav>

  </div>

</header>
