.site-footer {
	text-align:center;
}

.social-media-list {
    list-style: none;
    margin-left: 0;
    padding-top:2.5rem;
}

.social-media__item {
	display:inline-block;
	text-transform:uppercase;
}

.social-media__link {
  border-bottom:none;
  font-weight:bold;
  color: $brand-color-dark;
}

.social-media__link:hover {
  text-decoration:none;
}

.footer-divider {
	color:$brand-color-dark;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -163px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 163px; 
}


@media (min-width:442px) {
  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -133px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .site-footer, .page-wrap:after {
    height: 133px; 
  }
}