.logo {
	max-width:40px;
	margin-top:-5px;
}

.site-header {
	padding: 5px 0;
	margin-bottom:5%;
	text-align:center;
}

.site-title {
    font-size: 24px;
    margin-bottom: 0;
    color:$brand-color-dark;
    text-transform:uppercase;
    font-family:"Raleway";
    font-weight:300;
    border-bottom:none;
}

.site-title:hover {
	text-decoration:none;
	border-bottom:none;
}

.site-title:visited {
	color:$brand-color-dark;
}

.small-caps {
	font-size: 18px;
}

.site-nav {
	text-align:center;
}

.page-link {
	margin:0 10px;
	text-transform:uppercase;
	font-size:14px;
	letter-spacing:1px;
	border-bottom:none;
	color: $brand-color-dark;
	font-weight:400;
}

.page-link:hover {
	text-decoration:none;
	color:$brand-color-dark;
	border-bottom: 2px solid $brand-color-dark;
}

@media (min-width: 240px) {
	.site-title {
		line-height:56px;
	}
}
@media (min-width:480px) {

	.site-title {
		float:left;
		line-height:69px;
	}
	.site-nav {
		float:right;
		line-height:75px;
	}

}


@media (min-width:600px) {

	.site-nav {
	    float: right;
	    line-height: 72px;
	}

	.page-link {
		margin-left: 20px;
		text-transform:uppercase;
		letter-spacing:1px;
	}

	.site-header {
		padding:20px 0;
	}

	.small-caps {
		font-size: 24px;
	}

	.logo {
		max-width:40px;
		margin-top:-8px;
	}	
}

