<!DOCTYPE html>
<html lang="en-ca">

  {% include head.html %}

  <body class="default site">
      <div class="divider-container">
      <div class="page-wrap">
        {% include header.html %}
        <div class="page-ss ss-style-doublediagonal ss-light">
          <main class="page-content site-content">
            <div class="container container--default">
              {{ content }}
            </div>
          </main>
        </div>
      </div>
        {% include footer.html %} 
    </div>
    
  </body>

</html>
